In [1]:
1+1

2

# Code Cell Execution

# Import Libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
pd.__version__ #using pd underscore underscore version underscore underscore tells you pandas been imported right and what version we using

'0.24.1'

# Python Data Types and Variables

In [7]:
type(2)

int

In [8]:
type(3.14)

float

In [9]:
type(True)

bool

In [10]:
type("HelloWorld")

str

In [11]:
age = (15+45)/2*3

In [12]:
name = "Alice"
name

'Alice'

In [14]:
age = age +5
age

105.0

# Python Lists (Other lang called Arrays)

In [21]:
lucky_numbers = [1, 6, 9, 4] # 4item list 
names = ["alice", "jason", "freddie"] # all lists start from position 0 and increment by 1

In [16]:
lucky_numbers

[1, 6, 9, 4]

In [18]:
type (lucky_numbers) #

list

In [19]:
len(lucky_numbers)

4

In [22]:
lucky_numbers[2]
names[2]

'freddie'

In [23]:
lucky_numbers[2]

9

# Python Dictionaries

In [25]:
# Ties together keys and values. 
#You can have ONLY UNIQUE keys but the values they can have can be duplicated
menu = { "Chicken Soup" : 15.99, 
      "Grilled Sandwich" : 12.99,
      "Avo Toast" : 10.99,
      "Blueberry Muffin" : 5.99   
    
}

In [26]:
menu["Avo Toast"] # referencing key Avo toast to find out its value which is 10.99

10.99

# Python Operators

In [27]:
2+4

6

In [28]:
10/5

2.0

In [29]:
5*8

40

In [30]:
10-5

5

In [31]:
1 == 3 # Comparison operator

False

In [32]:
1 == 1

True

In [33]:
5 != 10 #Non-c0mparison operator

True

In [34]:
5 != 5

False

In [35]:
"Adity" == "Adity" #can use comparison with strings as well

True

In [36]:
"Adity" == "adity"

False

In [37]:
10 >= 4

True

In [38]:
8<= 2

False

In [39]:
10 >= 10

True

In [40]:
10 >= 15

False

# Python Functions

In [41]:
def convert_to_fahreneit (celsiusTemp): # use keyword def to define and use colon to indent. reqd in Python
    product = celsiusTemp * 1.8
    final = product + 32
    return final

In [44]:
convert_to_fahreneit (-20)

-4.0