In [1]:
import pandas as pd
import datetime as dt #datetime is a module built into the python language and it is 
#not an external library. It is is not invoked on its own as it uses a lot of memory
# We have to specify explicitly whenever we want to use it.

# Review of Python's datetime Module

In [10]:
# we are using the dt alias for invoking the datetime module
dt.date(2019,7,30) # just creating the date object using the above

datetime.date(2019, 7, 30)

In [11]:
someday = dt.date(2019,7,30)

In [12]:
someday.year

2019

In [13]:
someday.month

7

In [14]:
someday.day

30

In [15]:
dt.datetime(2010, 1, 20) #needs to have a time provided and it will default to midnight instead in this case

datetime.datetime(2010, 1, 20, 0, 0)

In [16]:
dt.datetime(2010, 1, 20, 8, 13, 57) # 8 :13 am 57 sec on Jan 20th 2010

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [17]:
#if something to be done in the afternoon then to be done in Military time 
dt.datetime(2010, 1, 20, 17, 15, 57) #i.e. 5:15 pm

datetime.datetime(2010, 1, 20, 17, 15, 57)

In [18]:
str(dt.datetime(2010, 1, 20, 17, 15, 57))
#if we wanna display it more in a way readable format

'2010-01-20 17:15:57'

In [19]:
sometime = dt.datetime(2010, 1, 20, 17, 15, 57)

In [20]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

# The pandas Timestamp Object

In [21]:
# Timestamp is basically the pandas way of doing Python's Date time
pd.Timestamp("2015-03-31")

Timestamp('2015-03-31 00:00:00')

In [22]:
pd.Timestamp("2015/03/31")

Timestamp('2015-03-31 00:00:00')

In [23]:
pd.Timestamp("2015,11,04")

Timestamp('2015-04-01 00:00:00')

In [24]:
pd.Timestamp("1/1/2015")

Timestamp('2015-01-01 00:00:00')

In [25]:
pd.Timestamp("19/12/2015")

Timestamp('2015-12-19 00:00:00')

In [26]:
pd.Timestamp("12/19/2015")

Timestamp('2015-12-19 00:00:00')

In [27]:
pd.Timestamp("2019-03-28 08:35:15")

Timestamp('2019-03-28 08:35:15')

In [28]:
pd.Timestamp("2019-03-28 08:35:15 PM")

Timestamp('2019-03-28 20:35:15')

In [29]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

# The Pandas DateTimeIndex Object

In [30]:
date = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(date)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [31]:
type(pd.DatetimeIndex(date))

pandas.core.indexes.datetimes.DatetimeIndex

In [32]:
dates = [dt.date(2019, 1, 10), dt.date(2000, 1, 12), dt.date(2006, 3,31)]
dtIndex = pd.DatetimeIndex(dates)

In [33]:
values = [100,200,300]
pd.Series(data = values, index = dtIndex)

2019-01-10    100
2000-01-12    200
2006-03-31    300
dtype: int64

# The pd.to_datetime( ) Method

In [34]:
pd.to_datetime("2019-03-31")

Timestamp('2019-03-31 00:00:00')

In [35]:
pd.to_datetime(dt.date(2015,3,5))

Timestamp('2015-03-05 00:00:00')

In [36]:
pd.to_datetime(dt.datetime(2019,1,13,14,15,30))

Timestamp('2019-01-13 14:15:30')

In [37]:
pd.to_datetime(["2015-03-04", "2014/02/08", "2018", "July 4th 2007"])

DatetimeIndex(['2015-03-04', '2014-02-08', '2018-01-01', '2007-07-04'], dtype='datetime64[ns]', freq=None)

In [38]:
#USE THE series constructor method and pass through this string 
pd.Series(["2015-03-04", "2014/02/08", "2018", "July 4th 2007"])

0       2015-03-04
1       2014/02/08
2             2018
3    July 4th 2007
dtype: object

In [39]:
times = pd.Series(["2015-03-04", "2014/02/08", "2018", "July 4th 2007"])

In [40]:
times

0       2015-03-04
1       2014/02/08
2             2018
3    July 4th 2007
dtype: object

In [41]:
pd.to_datetime(times)
#dtype = datetime instead of being listed as object as seen above

0   2015-03-04
1   2014-02-08
2   2018-01-01
3   2007-07-04
dtype: datetime64[ns]

In [42]:
dates1 = pd.Series(["July 4th 2000", "10/04/1991", "Hello", "2015-02-31"])
dates1

0    July 4th 2000
1       10/04/1991
2            Hello
3       2015-02-31
dtype: object

In [43]:
pd.to_datetime(dates1, errors = "coerce")
#by default errors = raise , but making it = coerce we can process all the dates 
#and those that are faulty will = NaT i.e. Not a time

0   2000-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

# Create Range of Dates with the pd.date_range() Method, Part 1

In [44]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [45]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [46]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [47]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [48]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [49]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B")
#ONLY GETTing the biz days and not weekends

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [50]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [51]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [52]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [53]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [54]:
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "M")
#m = month end

DatetimeIndex([], dtype='datetime64[ns]', freq='M')

In [55]:
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [56]:
#A = year end i.e. last day of each year
pd.date_range(start = "2016-01-01", end = "2050-12-31", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# Create Range of Dates with the pd.date_range() Method, Part 2

In [57]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "D")
#generating 25 periods with each separation of 1 day

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [58]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "B")
#25 BUINESS DAYS

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12'],
              dtype='datetime64[ns]', freq='B')

In [59]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "W-SUN")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24'],
              dtype='datetime64[ns]', freq='W-SUN')

In [60]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "MS")
#Month starts

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [61]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

# Create Range of Dates with the pd.date_range() Method, Part 3

In [62]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")
#D= DAILY

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [63]:
pd.date_range(end = "2000-01-02", periods = 20, freq = "B")
#B = Business days only and skip weekends / holidays

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [64]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [65]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "M")

DatetimeIndex(['1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31',
               '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
               '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30',
               '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31',
               '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='M')

# The .dt Accessor

In [66]:
pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [67]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [68]:
s = pd.Series(bunch_of_dates)
s.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [69]:
s.dt.day
#can create a brand new series with just the date

0       1
1      25
2      18
3      13
4       6
5      30
6      24
7      17
8      11
9       4
10     28
11     21
12     15
13      8
14      2
15     26
16     19
17     12
18      8
19      1
20     25
21     19
22     12
23      6
24     30
25     23
26     16
27     10
28      3
29     27
       ..
138    25
139    18
140    14
141     7
142     1
143    25
144    18
145    12
146     5
147    29
148    22
149    16
150     9
151     3
152    27
153    20
154    13
155     9
156     2
157    26
158    20
159    13
160     7
161    31
162    24
163    17
164    11
165     4
166    28
167    22
Length: 168, dtype: int64

In [70]:
s.dt.weekday_name

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
5         Sunday
6      Wednesday
7       Saturday
8        Tuesday
9         Friday
10        Monday
11      Thursday
12        Sunday
13     Wednesday
14      Saturday
15       Tuesday
16        Friday
17        Monday
18      Thursday
19        Sunday
20     Wednesday
21      Saturday
22       Tuesday
23        Friday
24        Monday
25      Thursday
26        Sunday
27     Wednesday
28      Saturday
29       Tuesday
         ...
138       Sunday
139    Wednesday
140     Saturday
141      Tuesday
142       Friday
143       Monday
144     Thursday
145       Sunday
146    Wednesday
147     Saturday
148      Tuesday
149       Friday
150       Monday
151     Thursday
152       Sunday
153    Wednesday
154     Saturday
155      Tuesday
156       Friday
157       Monday
158     Thursday
159       Sunday
160    Wednesday
161     Saturday
162      Tuesday
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [71]:
s.dt.is_quarter_end

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
Length: 168, dtype: bool

In [72]:
mask = s.dt.is_quarter_end
s[mask]

57   2003-09-30
dtype: datetime64[ns]

In [73]:
#Pandas datareader will be used to extract info from the web. we have to install it first
#goto terminal .source activate root and then command = conda install pandas-datareader

# Import Financial Data Set with pandas_datareader Library

In [110]:
import pandas as pd
import datetime as dt
from pandas_datareader import data 
#different way to import only specific chunk of the library
#only importing the data module from pandas_datareader and hence save a bunch of 
#memory by doing this

In [75]:
company = "BLK"
start = "2010-01-01"
end = "2019-03-31"

stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,238.039993,232.199997,237.990005,232.199997,260300.0,180.555450
2010-01-04,239.600006,233.520004,236.050003,238.580002,238700.0,185.516495
2010-01-05,239.669998,236.759995,239.050003,239.610001,198800.0,186.317337

In [76]:
stocks.values

array([[2.38039993e+02, 2.32199997e+02, 2.37990005e+02, 2.32199997e+02,
        2.60300000e+05, 1.80555450e+02],
       [2.39600006e+02, 2.33520004e+02, 2.36050003e+02, 2.38580002e+02,
        2.38700000e+05, 1.85516495e+02],
       [2.39669998e+02, 2.36759995e+02, 2.39050003e+02, 2.39610001e+02,
        1.98800000e+05, 1.86317337e+02],
       ...,
       [4.25529999e+02, 4.17709991e+02, 4.23600006e+02, 4.19640015e+02,
        4.25000000e+05, 4.19640015e+02],
       [4.25640015e+02, 4.20230011e+02, 4.21399994e+02, 4.24970001e+02,
        3.42700000e+05, 4.24970001e+02],
       [4.32000000e+02, 4.26190002e+02, 4.29709991e+02, 4.27369995e+02,
        4.55900000e+05, 4.27369995e+02]])

In [77]:
stocks.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [78]:
stocks.index

DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
               '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-14',
               ...
               '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21',
               '2019-03-22', '2019-03-25', '2019-03-26', '2019-03-27',
               '2019-03-28', '2019-03-29'],
              dtype='datetime64[ns]', name='Date', length=2326, freq=None)

In [79]:
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21',
                '2019-03-22', '2019-03-25', '2019-03-26', '2019-03-27',
                '2019-03-28', '2019-03-29'],
               dtype='datetime64[ns]', name='Date', length=2326, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting from a DataFrame with a DateTimeIndex

In [80]:
stocks.loc["2014-03-04"]

High            308.839996
Low             304.010010
Open            304.250000
Close           307.220001
Volume       732900.000000
Adj Close       268.166687
Name: 2014-03-04 00:00:00, dtype: float64

In [81]:
stocks.iloc[300]

High            191.919998
Low             188.320007
Open            190.750000
Close           189.979996
Volume       593700.000000
Adj Close       152.358322
Name: 2011-03-11 00:00:00, dtype: float64

In [82]:
stocks.loc["2013-10-01" : "2013-10-07"]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2013-10-01,270.679993,266.850006,270.000000,270.089996,595600.0,234.468887
2013-10-02,271.209991,266.250000,269.239990,271.209991,589600.0,235.441147
2013-10-03,271.989990,266.500000,269.619995,269.929993,574800.0,234.329971
2013-10-04,272.250000,269.369995,270.339996,272.010010,336600.0,236.135727
2013-10-07,270.269989,267.040009,268.820007,267.190002,392500.0,231.951324

In [83]:
#pulling non-sequential date stock prices
pd.date_range(start = "2000-07-30", end = "2018-12-31", freq = pd.DateOffset(years =1))

DatetimeIndex(['2000-07-30', '2001-07-30', '2002-07-30', '2003-07-30',
               '2004-07-30', '2005-07-30', '2006-07-30', '2007-07-30',
               '2008-07-30', '2009-07-30', '2010-07-30', '2011-07-30',
               '2012-07-30', '2013-07-30', '2014-07-30', '2015-07-30',
               '2016-07-30', '2017-07-30', '2018-07-30'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [84]:
birthdays = pd.date_range(start = "2000-07-30", end = "2018-12-31", freq = pd.DateOffset(years =1))

In [85]:
stocks.index.isin(birthdays)

array([False, False, False, ..., False, False, False])

In [86]:
mask = stocks.index.isin(birthdays)

# Timestamp Object Attributes

In [87]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,238.039993,232.199997,237.990005,232.199997,260300.0,180.555450
2010-01-04,239.600006,233.520004,236.050003,238.580002,238700.0,185.516495
2010-01-05,239.669998,236.759995,239.050003,239.610001,198800.0,186.317337

In [90]:
someday = stocks.index[500]
someday

Timestamp('2011-12-23 00:00:00')

In [91]:
someday.day

23

In [92]:
someday.month

12

In [93]:
someday.year

2011

In [94]:
#we wanna add a brand new col. to insert the weekday name
stocks.insert(0,"Day of Week", stocks.index.weekday_name)

In [95]:
stocks.head()
#performed an operation on each value of the index and performed the operation we want

,Day of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,Thursday,238.039993,232.199997,237.990005,232.199997,260300.0,180.555450
2010-01-04,Monday,239.600006,233.520004,236.050003,238.580002,238700.0,185.516495
2010-01-05,Tuesday,239.669998,236.759995,239.050003,239.610001,198800.0,186.317337
2010-01-06,Wednesday,238.649994,234.059998,238.509995,234.669998,278500.0,182.476059
2010-01-07,Thursday,237.699997,234.000000,234.660004,237.250000,218300.0,184.482254

In [96]:
stocks.insert(1, "Is start of Month", stocks.index.is_month_start)

In [97]:
stocks.head()

,Day of Week,Is start of Month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2009-12-31,Thursday,False,238.039993,232.199997,237.990005,232.199997,260300.0,180.555450
2010-01-04,Monday,False,239.600006,233.520004,236.050003,238.580002,238700.0,185.516495
2010-01-05,Tuesday,False,239.669998,236.759995,239.050003,239.610001,198800.0,186.317337
2010-01-06,Wednesday,False,238.649994,234.059998,238.509995,234.669998,278500.0,182.476059
2010-01-07,Thursday,False,237.699997,234.000000,234.660004,237.250000,218300.0,184.482254

# The .truncate( ) Method

In [98]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head(3)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2009-12-31,238.039993,232.199997,237.990005,232.199997,260300.0,180.555450
2010-01-04,239.600006,233.520004,236.050003,238.580002,238700.0,185.516495
2010-01-05,239.669998,236.759995,239.050003,239.610001,198800.0,186.317337

In [99]:
stocks.truncate(before = "2011-02-05", after = "2011-02-28")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2011-02-07,198.500000,195.000000,195.259995,196.000000,808400.0,156.099350
2011-02-08,199.449997,195.059998,196.779999,199.369995,727600.0,158.783295
2011-02-09,200.649994,197.259995,198.270004,199.619995,447000.0,158.982361
2011-02-10,201.589996,198.009995,198.009995,200.710007,486900.0,159.850449
2011-02-11,203.600006,199.000000,200.009995,203.419998,473000.0,162.008759
2011-02-14,206.440002,202.589996,203.500000,205.009995,672500.0,163.275116
2011-02-15,206.000000,202.539993,203.610001,205.660004,457800.0,163.792755
2011-02-16,207.000000,204.000000,206.029999,205.339996,458200.0,163.537949
2011-02-17,205.479996,202.800003,205.020004,204.589996,379000.0,162.940552
2011-02-18,207.470001,202.899994,205.449997,206.669998,516900.0,164.597168
2011-02-22,204.160004,197.910004,203.410004,198.410004,537500.0,158.018661
2011-02-23,199.830002,194.380005,199.000000,195.130005,682900.0,155.406433
2011-02-24,201.440002,193.580002,195.789993,201.199997,832500.0,160.240723
2011-02-25,204.550003,201.440002,202.990005,203.919998,863900.0,162.406967
2011-02-28,205.610001,200.509995,203.110001,203.990005,685300.0,162.462708

# pd.DateOffset Objects

In [101]:
stocks = data.DataReader(name = 'GOOG', data_source="yahoo", start = dt.date(2000,1,1),
               end = dt.datetime.now())
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527
2004-08-24  55.439419  51.450363  55.260582  52.096165  15361800.0  52.096165
2004-08-25  53.651051  51.604362  52.140873  52.657513   9257400.0  52.657513

In [102]:
stocks.index + pd.DateOffset(days = 5)
#going from 19th aug to 24th aug i.e. adding 5 days

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2019-04-07', '2019-04-08', '2019-04-09', '2019-04-10',
               '2019-04-13', '2019-04-14', '2019-04-15', '2019-04-16',
               '2019-04-17', '2019-04-20'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [103]:
stocks.index + pd.DateOffset(days = 2)

DatetimeIndex(['2004-08-21', '2004-08-22', '2004-08-25', '2004-08-26',
               '2004-08-27', '2004-08-28', '2004-08-29', '2004-09-01',
               '2004-09-02', '2004-09-03',
               ...
               '2019-04-04', '2019-04-05', '2019-04-06', '2019-04-07',
               '2019-04-10', '2019-04-11', '2019-04-12', '2019-04-13',
               '2019-04-14', '2019-04-17'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [105]:
stocks.index - pd.DateOffset(months = 3)
#subtracting 3 months and going to 19 may from 19 Aug

DatetimeIndex(['2004-05-19', '2004-05-20', '2004-05-23', '2004-05-24',
               '2004-05-25', '2004-05-26', '2004-05-27', '2004-05-30',
               '2004-05-31', '2004-06-01',
               ...
               '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-12', '2019-01-15'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [106]:
stocks.index - pd.DateOffset(hours = 3)

DatetimeIndex(['2004-08-18 21:00:00', '2004-08-19 21:00:00',
               '2004-08-22 21:00:00', '2004-08-23 21:00:00',
               '2004-08-24 21:00:00', '2004-08-25 21:00:00',
               '2004-08-26 21:00:00', '2004-08-29 21:00:00',
               '2004-08-30 21:00:00', '2004-08-31 21:00:00',
               ...
               '2019-04-01 21:00:00', '2019-04-02 21:00:00',
               '2019-04-03 21:00:00', '2019-04-04 21:00:00',
               '2019-04-07 21:00:00', '2019-04-08 21:00:00',
               '2019-04-09 21:00:00', '2019-04-10 21:00:00',
               '2019-04-11 21:00:00', '2019-04-14 21:00:00'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [107]:
stocks.index - pd.DateOffset(years = 1, months = 3, days = 10)

DatetimeIndex(['2003-05-09', '2003-05-10', '2003-05-13', '2003-05-14',
               '2003-05-15', '2003-05-16', '2003-05-17', '2003-05-20',
               '2003-05-21', '2003-05-22',
               ...
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-29', '2017-12-30', '2017-12-31', '2018-01-01',
               '2018-01-02', '2018-01-05'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

# More Fun with pd.DateOffset Objects

In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *  #i wanna import everything i.e. all the methods availabe in the submodule

In [112]:
stocks = data.DataReader(name = 'GOOG', data_source="yahoo", start = dt.date(2000,1,1),
               end = dt.datetime.now())
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.693783  47.669952  49.676899  49.845802  44994500.0  49.845802
2004-08-20  54.187561  49.925285  50.178635  53.805050  23005800.0  53.805050
2004-08-23  56.373344  54.172661  55.017166  54.346527  18393200.0  54.346527
2004-08-24  55.439419  51.450363  55.260582  52.096165  15361800.0  52.096165
2004-08-25  53.651051  51.604362  52.140873  52.657513   9257400.0  52.657513

In [113]:
pd.tseries.offsets.MonthEnd()
#look for next available month end

In [114]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-04-30', '2019-04-30', '2019-04-30',
               '2019-04-30', '2019-04-30'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [115]:
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2019-05-01', '2019-05-01', '2019-05-01', '2019-05-01',
               '2019-05-01', '2019-05-01', '2019-05-01', '2019-05-01',
               '2019-05-01', '2019-05-01'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [117]:
stocks.index - MonthBegin()
# as we have imported the big library above, we dont need to write the full tseries code again and again

DatetimeIndex(['2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01',
               ...
               '2019-04-01', '2019-04-01', '2019-04-01', '2019-04-01',
               '2019-04-01', '2019-04-01', '2019-04-01', '2019-04-01',
               '2019-04-01', '2019-04-01'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [118]:
stocks.index - BMonthBegin()

DatetimeIndex(['2004-08-02', '2004-08-02', '2004-08-02', '2004-08-02',
               '2004-08-02', '2004-08-02', '2004-08-02', '2004-08-02',
               '2004-08-02', '2004-08-02',
               ...
               '2019-04-01', '2019-04-01', '2019-04-01', '2019-04-01',
               '2019-04-01', '2019-04-01', '2019-04-01', '2019-04-01',
               '2019-04-01', '2019-04-01'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [120]:
stocks.index - QuarterEnd()

DatetimeIndex(['2004-06-30', '2004-06-30', '2004-06-30', '2004-06-30',
               '2004-06-30', '2004-06-30', '2004-06-30', '2004-06-30',
               '2004-06-30', '2004-06-30',
               ...
               '2019-03-31', '2019-03-31', '2019-03-31', '2019-03-31',
               '2019-03-31', '2019-03-31', '2019-03-31', '2019-03-31',
               '2019-03-31', '2019-03-31'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

In [121]:
stocks.index + QuarterBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-12-01',
               ...
               '2019-06-01', '2019-06-01', '2019-06-01', '2019-06-01',
               '2019-06-01', '2019-06-01', '2019-06-01', '2019-06-01',
               '2019-06-01', '2019-06-01'],
              dtype='datetime64[ns]', name='Date', length=3689, freq=None)

# The Timedelta Object

In [4]:
#timedelta represents the duration rather than a specific moment in time i.e. difference of times
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [5]:
timeA - timeB

Timedelta('11 days 00:00:00')

In [6]:
timeA = pd.Timestamp("2016-03-31 04:36:12 PM")
timeB = pd.Timestamp("2016-03-20 14:05:10")

In [7]:
timeA - timeB

Timedelta('11 days 02:31:02')

In [8]:
type (timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [9]:
pd.Timedelta(days = 3) #no specific moment in time rather just a specific duration

Timedelta('3 days 00:00:00')

In [10]:
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

Timedelta('14 days 06:12:49')

# Timedeltas in a DataSet

In [13]:
pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])

    order_date delivery_date
ID
1   1998-05-24    1999-02-05
2   1992-04-22    1998-03-06
4   1991-02-10    1992-08-26
5   1992-07-21    1997-11-20
7   1993-09-02    1998-06-10
8   1993-06-10    1993-11-11
9   1990-01-25    1994-10-02
10  1992-02-23    1998-12-30
11  1996-07-12    1997-07-14
18  1995-06-18    1997-10-13
19  1998-05-10    1998-05-19
20  1992-10-17    1998-10-06
23  1992-05-30    1999-08-15
26  1996-04-11    1998-05-04
30  1998-10-22    1999-01-11
32  1990-01-20    1998-07-24
33  1994-09-21    1996-10-12
35  1993-09-10    1996-04-28
36  1990-05-15    1994-02-14
39  1990-03-26    1993-01-25
41  1992-02-06    1996-05-10
46  1995-09-05    1996-07-19
50  1991-05-03    1999-07-17
52  1994-09-02    1997-05-14
53  1995-11-29    1998-06-23
54  1996-08-07    1998-04-04
58  1995-02-11    1995-04-16
59  1995-09-29    1995-12-16
60  1993-02-14    1995-08-06
63  1990-12-22    1995-09-02
..         ...           ...
932 1997-07-25    1998-04-09
934 1995-05-22    1995-07-11
935 1990-09-26    1998-03-07
938 1993-03-24    1995-07-15
939 1998-10-01    1998-12-07
942 1992-04-14    1997-03-03
943 1991-01-30    1999-12-02
945 1992-10-27    1994-11-03
946 1991-07-02    1996-02-23
947 1991-06-18    1999-06-11
949 1991-10-07    1992-01-07
951 1991-10-02    1994-04-18
953 1991-09-26    1994-05-08
954 1993-08-08    1994-01-23
956 1995-08-23    1999-01-10
957 1994-10-01    1999-07-25
958 1990-04-26    1997-06-29
969 1996-09-24    1996-11-16
972 1990-02-07    1995-11-05
975 1997-06-18    1997-11-02
981 1997-01-31    1998-03-04
983 1994-12-30    1997-07-29
984 1991-07-25    1999-02-09
985 1995-07-26    1996-06-18
986 1990-12-10    1992-12-16
990 1991-06-24    1996-02-02
991 1991-09-09    1998-03-30
993 1990-11-16    1998-04-27
994 1993-06-03    1993-06-13
997 1990-01-04    1991-10-03

[501 rows x 2 columns]

In [14]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [16]:
#we wanna know the duration it took to get these shipping orders completed
shipping["delivery_date"] - shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
8      154 days
9     1711 days
10    2502 days
11     367 days
18     848 days
19       9 days
20    2180 days
23    2633 days
26     753 days
30      81 days
32    3107 days
33     752 days
35     961 days
36    1371 days
39    1036 days
41    1555 days
46     318 days
50    2997 days
52     985 days
53     937 days
54     605 days
58      64 days
59      78 days
60     903 days
63    1715 days
         ...
932    258 days
934     50 days
935   2719 days
938    843 days
939     67 days
942   1784 days
943   3228 days
945    737 days
946   1697 days
947   2915 days
949     92 days
951    929 days
953    955 days
954    168 days
956   1236 days
957   1758 days
958   2621 days
969     53 days
972   2097 days
975    137 days
981    397 days
983    942 days
984   2756 days
985    328 days
986    737 days
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [17]:
shipping["delivery_time"] = shipping["delivery_date"] - shipping["order_date"]

In [18]:
shipping.head()

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [21]:
shipping["twice_as_long"] = shipping["delivery_time"] + shipping["delivery_date"]

In [22]:
shipping.head()

   order_date delivery_date delivery_time twice_as_long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18